.mobile-navbar {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .mobile-navbar {
        visibility: collapse;
    }
}
