{% extends "@EasyAdmin/page/content.html.twig" %}

{% block page_content %}
    <h2>Sveiki atvykę į Music.lt admin valdymo dalį.</h2>
    <p>Šiame puslapyje galima valdyti turinį, kuris yra atvaizduojamas per pagrindinį puslapį.</p>
{% endblock page_content %}
