{% extends "@EasyAdmin/page/content.html.twig" %}

{% block page_content %}
    <h2>Sveiki atvykę į Music.lt admin valdymo dalį.</h2>
    <p>Šiame puslapyje galima valdyti turinį, kuris yra atvaizduojamas per pagrindinį puslapį.</p>

    <h3>Administratorių veiksmai:</h3>
    <a href="{{ path('reload_top40_for_admins') }}" target="_blank">Perkrauti savaitinį TOP40 rankiniu būdų (paspaudus iš karto persikraus)</a>
{% endblock page_content %}
